  <!-- <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
  </head>

  <body>
    <div class="container-fluid mt-2 p-5">
      <div class="row col-4 jumbotron">
        <form>
          <div class="form-group ">
            <label for="name">Name</label>
            <input class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="name">Age</label>
            <input type="text" class="form-control" id="age">
          </div>
          <div class="form-group">
            <label for="name">Country</label>
            <input type="text" class="form-control" id="country">
          </div>
          <div class="form-group">
            <label for="name">City</label>
            <input type="text" class="form-control" id="city">
          </div>

          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row col-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">Country</th>
              <th scope="col">City</th>
               <th scope="col">Delete</th> -->
  <!-- </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of allUser">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
      <td>{{user.country}}</td>
      <td>{{user.city}}</td>
    </tr>
  </tbody>

  </table>
  <button style="margin-left:10px" class="btn btn-primary" (click)="show(count)">{{count}}</button>
  <button style="margin-left: 1000px" class="btn btn-primary" (click)="show(count+1)">{{count+1}}</button>
  </div>

  </div>


  </body>

  </html> -->
  <router-outlet></router-outlet>
